#header{
    height:110px;
    background-color: #DFE2DB;
    font-size: 50px;
    text-align: center;
    color: #191919;
}
#menu{
    text-align: center;
}
#askquestion{
    text-align: right;
}
.txtborder{
    padding: 10px;
    border-color: red;
}
#wrap{
    width: 90%;
}
#footer{
    height:30px;
    background-color: #DFE2DB;
    font-size: 13px;
    text-align: center;
    color: #191919;
    padding-top: 5px;
}
#right{

}
.questionTitle{
    font-size: 18px;
    color: #558C89;
    font-family: "Calibri";
}
#left{
    background-color: #424348;
    color: red;
}
.dash-title{
    font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 52.7999992370606px;
}
.dash-content{
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.3999996185303px;
}
